WCF_Dictionary/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StringConfigItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="tns:SerializableDictionaryOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringConfigItem" nillable="true" type="tns:StringConfigItem" />
  <xs:complexType name="SerializableDictionaryOfstringstring">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializableDictionaryOfstringstring" nillable="true" type="tns:SerializableDictionaryOfstringstring" />
</xs:schema>